<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MinecraftOverview</title>
        <%= stylesheet_link_tag "application", :media => "all" %>

        <%= javascript_include_tag "application" %>
        <%= javascript_overviewer_config_content_tag %>
        <%= javascript_google_maps_content_tag %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <%= link_to "Minecraft OverViewer", root_path, class: :brand %>
                    <a  href="#"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><%= link_to "Welcome", welcome_path %></li>
                            <li><%= link_to "Rendered Map", maps_path %></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Go-To <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><%= link_to "McMyAdmin", "http://mcadmin.r3dux.net"%></li>
                                    <li><%= link_to "r3dux.net", "http://r3dux.net"%></li>
                                </ul><!-- .dropdown-menu -->
                            </li><!-- .dropdown -->
                        </ul><!-- .nav -->
                    </div><!-- .nav-collapse -->
                </div><!-- .container -->
            </div> <!-- .navbar-inner -->
        </div><!-- .navbar .navbar-inverse .navbar-fixed-top -->

        <div class="container">
			<%= bootstrap_flash %>
            <%= yield %>
        </div>
    </body>
</html>
